RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^([^/]+)/?$ api.php/$1 [L]
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>
